.allies-container
  padding 182px 0 150px 0
  background url('../img/backgrounds/allies-bg-a.png') top right no-repeat,
    url('../img/backgrounds/allies-bg-b.png') left bottom no-repeat
  background-size 914px auto

.allies-title
  font-size remify(45px)
  color #4b4b4b
  text-align center
  margin 0 0 117px 0

.allies-wrapper
  max-width 832px
  margin 0 auto
  display flex
  justify-content space-between
  flex-wrap wrap

.ally-wrapper
  width 242px
  height 221px
  background-color #fafafa
  display flex
  justify-content center
  align-items center
  transition .45s transform ease, .3s filter ease
  filter grayscale(100%)
  margin-bottom 55px

  &:hover
    box-shadow 0 3px 8px 0 rgba(200,205,205, .5)
    transform scale(1.03)
    filter grayscale(0);

  &:nth-child(1) .ally
      width 78px

  &:nth-child(2) .ally
      width 120px

  &:nth-child(3) .ally
      width 124px

  &:nth-child(4) .ally
      width 56px

  &:nth-child(5) .ally
      width 68px

  &:nth-child(6) .ally
      width 155px

  &:nth-child(7) .ally
      width 72px

  &:nth-child(8) .ally
      width 137px

  &:nth-child(9) .ally
      width 54px

@media screen and (max-width: 768px)

  .allies-container
    padding-top 100px

  .allies-wrapper
    padding-right 20px
    padding-left 20px

  .ally-wrapper
    width 210px
    box-shadow 0 3px 8px 0 rgba(200,205,205,0.5)

    &:nth-child(1)
      order 1

    &:nth-child(2)
      order 2

    &:nth-child(3)
      order 7

    &:nth-child(4)
      order 3

    &:nth-child(5)
      order 4

    &:nth-child(6)
      order 9

    &:nth-child(7)
      order 5

    &:nth-child(8)
      order 6

    &:nth-child(9)
      order 8

@media screen and (max-width: 360px)

  .allies-container
    padding-top 100px !important

  .allies-title
    margin 0px 0 50px 0

  .allies-wrapper
    justify-content space-between
    max-width 252px

  .ally-wrapper
    border-radius 2px
    margin-bottom 9px
    width 101px !important
    height 93px
    box-shadow 1px 1px 10px #fafafa

    &:nth-child(1)
      order 1

    &:nth-child(2)
      order 2

    &:nth-child(3)
      order 7

    &:nth-child(4)
      order 3

    &:nth-child(5)
      order 4

    &:nth-child(6)
      order 9

    &:nth-child(7)
      order 5

    &:nth-child(8)
      order 6

    &:nth-child(9)
      order 8

    &:nth-child(1) .ally
        width 40px

    &:nth-child(2) .ally
        width 56px

    &:nth-child(3) .ally
        width 55px

    &:nth-child(4) .ally
        width 34px

    &:nth-child(5) .ally
        width 50px

    &:nth-child(6) .ally
        width 80px

    &:nth-child(7) .ally
        width 40px

    &:nth-child(8) .ally
        width 80px

    &:nth-child(9) .ally
        width 30px

@media (min-width: 361px) and (max-width: 414px)

  .allies-container
    padding-top 100px

  .allies-wrapper
    width 329px
    justify-content space-between
    flex-wrap wrap
    align-items center

  .ally-wrapper
    width 140px
    height 130px
    margin-bottom 10px
    box-shadow 0 3px 8px 0 rgba(200,205,205,0.5)

    &:nth-child(1)
      order 1

    &:nth-child(2)
      order 2

    &:nth-child(3)
      order 7

    &:nth-child(4)
      order 3

    &:nth-child(5)
      order 4

    &:nth-child(6)
      order 9

    &:nth-child(7)
      order 5

    &:nth-child(8)
      order 6

    &:nth-child(9)
      order 8

    &:nth-child(6) .ally
      width 120px
