.contact-container
  padding-top 186px

.contanct-content
  max-width 1060px
  padding 0 50px
  center-block()

//Contact Header
.contact-header
  margin-bottom 65px
  max-width 530px

.contact-title-wrapper
  padding-left 23px

.contact-title
  font-size remify(45px)
  color #4b4b4b
  letter-spacing .1px

.contact-description-wrapper
  width 60%
  padding-left 20px
  border-left 3px solid #ee9bbe

.contact-description
  font-size remify(20px)
  color #4c4c4c
  line-height 1.4
  letter-spacing .4px

//Contact Header
.contact-form-wrapper
  display flex
  justify-content flex-end

.contact-form-container
  width 628px
  padding 68px 0 84px
  box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.14)

.contact-form-content
  max-width 470px
  center-block()

.contact-form-title
  font-size remify(30px)
  color #4b4b4b
  letter-spacing .1px
  margin 0 0 45px 0

.input-wrapper.contact-input-wrapper
  margin-bottom 54px

.contact-field
  border 0
  border-bottom solid 1px #e1e1e1
  width 100%
  height 42px
  padding 0 5px 10px
  font-size remify(17px)
  color #4b4b4b
  letter-spacing .1px

.contact-label-placeholder
  color #4b4b4b
  font-size (17px)
  position absolute
  top 20%
  left .5rem
  transition .4s all ease

.contact-field:focus ~ .contact-label-placeholder, .contact-field:valid ~ .contact-label-placeholder
  top -50%
  left 0
  font-weight $medium

.contact-button
  padding 9.5px 29px
  background-color #ee9bbe
  color #fff
  font-size remify(13px)
  letter-spacing 1.3px
  border 0
  cursor pointer
  transition .2s background-color ease-in-out

@media screen and (max-width: 425px)

  .contact-container
    padding-top 130px

  .contact-header
    padding-left remify(56)
    padding-right remify(91)

  .contact-description-wrapper
    width 100%

  .contanct-content
    max-width 100%
    padding 0

  .contact-form-title,
  .input-wrapper.contact-input-wrapper
    padding-left remify(55)
    padding-right remify(55)

  .contact-label-placeholder
    left remify(60)

  .contact-field:focus ~ .contact-label-placeholder, .contact-field:valid ~ .contact-label-placeholder
    left remify(55)

  .button-wrapper
    padding-left remify(54)

    & .contact-button
      font-size remify(20)

@media screen and (max-width: 414px)

  .contact-description-wrapper
    width 100%

  .button-wrapper
    padding-left remify(54)

  .contact-title
    font-size 21px

  .contact-description
    font-size 14px

  .contact-form-title
    font-size 18px

  .button-wrapper .contact-button
    font-size 11px

  input[type=text]
    font-size 12px

  .contact-header
    padding-left remify(36)
    padding-right remify(61)
