.section_eva
  padding-top 200px

//Eva section one title
.eva-section_one-title-wrapper
  height 40px
  display flex
  align-items center
  text-align center
  center-block()
  align-items center
  max-width 500px
  justify-content center
  margin-bottom 123px

.eva-section_one-title
  color #4b4b4b
  font-size remify(40px)
  display inline-block
  margin 0
  line-height 40px
  margin-right 25px

.eva-section_one-title-divider
  height 100%
  width 3px
  background-color #ee9bbe
  margin-right 25px
  display inline-block

.eva-section_one-subtitle
  font-size remify(33px)
  color #4b4b4b
  display inline-block
  margin 0

//Eva section one content
.eva-section_one-content
  max-width 865px
  center-block()
  display flex
  margin-bottom 70px

.eva-image-wrapper
  height 400px
  position relative

.eva-image
  width 300px
  margin-right 130px

.eva-description
  font-size remify(19px)
  line-height 32px
  letter-spacing .3px
  color #4b4b4b
  margin 0
  
  &:first-child
    margin-bottom 35px

//Eva section one cards
.eva-section_one-cards
  max-width 1024px
  margin 0 auto 111px auto
  display flex
  justify-content space-between

.eva-card
  width 317px
  min-height 443px
  padding 50px 0 0 24px
  transition .4s transform ease

  &:hover
    background-color #fff
    transform scale(1.05)
    box-shadow 0 2px 17px 0 rgba(0, 0, 0, 0.13)

.card-icon-wrapper
  margin 0 0 27px 21px

.card-title-wrapper
  simple-border(left, 3px, #ee9bbe)
  padding-left 18px
  margin 0 0 17px 0

.card-title
  font-size remify(20px)

.card-description-wrapper
  margin 0 35px 0 21px

.card-description
  font-size remify(13px)
  line-height 1.6
  color #4b4b4b
  letter-spacing 0.2px

//Eva section divider
.eva-section_divider
  width 82%
  height 2px
  background-color #dadada
  center-block()

//Eva section two
.eva-section_two
  padding-top 90px
