.live-container
  padding-top 186px

.live-content
  max-width 1060px
  padding 0 50px
  center-block()

.live-header
  font-size remify(45)
  line-height 39px
  letter-spacing .1px
  text-align center
  color #4b4b4b

.live-subtitle
  font-size remify(25)
  line-height 39px
  letter-spacing .1px
  text-align center
  margin-bottom 50px
  color #4b4b4b

.live-video
  max-width 832px
  margin 4rem auto

.live-iframe
  display block
  margin 0 auto
  width 70%
  height 40vh

.live-pink
  color #ee9bbe