.news-container
  padding 182px 0 92px 0
  background url('../img/backgrounds/news-bg-a.png') top no-repeat
  background-size cover

//News header
.news-header-wrapper
  max-width 838px
  border-bottom 1px solid #cfcfcf
  margin 0 auto 72px auto

.news-header
  max-width 665px
  center-block()

.news-header-title
  font-size remify(45px)
  color #4b4b4b
  letter-spacing .1px
  text-align center
  margin 0 0 43px 0

.news-header-description
  font-size remify(20px)
  color #4b4b4b
  line-height 1.4
  letter-spacing .2px
  text-align center
  margin 0 0 63px 0

//Articles
.articles-wrapper
  max-width 838px
  center-block()
  display flex
  justify-content space-between
  flex-wrap wrap

//Articles thumbnails
.article-thumbnail
  width 251px
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.08)
  margin-bottom 40px
  background-color #fff

.article-thumbnail-image-wrapper
  width 251px
  height 172px
  overflow hidden
  margin-bottom 13px
  position relative

.article-thumbnail-category
  position absolute
  top 12px
  left 10px
  color #fff
  letter-spacing .5px
  font-size remify(12px)
  text-transform uppercase

.article-thumbnail-image
  width 100%

.article-thumbnail-info
  padding 0 27px
  margin-bottom 30px

.article-thumbnail-date
  font-size remify(11px)
  color #4c4c4c
  letter-spacing .1px
  margin 0 0 20px 0
  display block

.article-thumbnail-title
  font-size remify(22px)
  color #4b4b4b
  line-height 1.14
  letter-spacing .1px
  margin 0 0 20px 0

.article-thumbnail-content
  font-size remify(12px)
  color #4c4c4c
  line-height 1.42
  letter-spacing .1px
  margin 0 0 20px 0

.article-thumbnail-button
  font-size remify(12px)
  padding 12px 25px 10px
  border 0
  color #fff
  letter-spacing 1.2px
  cursor pointer
