.news-container
  padding-top 182px

//News header
.news-header-wrapper
  max-width 838px
  border-bottom 1px solid #cfcfcf
  margin 0 auto 72px auto

.news-header
  max-width 665px

.news-header-title
  font-size remify(45px)
  color #4b4b4b
  letter-spacing .1px
  text-align center
  margin 0 0 43px 0

.news-header-description
  font-size remify(20px)
  color #4b4b4b
  line-height 1.4
  letter-spacing .2px
  text-align center
  margin 0 0 63px 0

//Articles
.articles-wrapper
  max-width 838px
  center-block()
  display flex
  justify-content space-between
