.team-container
  height 1105px
  padding-top 200px
  display flex
  justify-content space-between
  align-items flex-start
  padding-left 9%
  padding-right 50px
  padding-bottom 135px

.team-our-team
  max-width 390.5px

.team-line // Line pink of the title
  position absolute
  left 0
  border-bottom 3px solid #f2b1cc
  width 21px

.team-title-container
  position relative

.team-title
  color #4b4b4b
  font-size remify(45)
  line-height 39px
  letter-spacing .1px
  margin-top 17px
  margin-bottom 33px

.team-user
  color #4b4b4b
  font-size remify(18)
  line-height 39px
  letter-spacing .9px
  margin-top 55px

.team-descrip
  margin-top 12px
  color #4c4c4c
  font-size remify(17)
  letter-spacing .2px
  line-height 23px

// Section photos
.team-photos
  padding-top remify(18)
  padding-left remify(12)
  flex-wrap wrap
  display flex
  justify-content flex-start
  width 625px
  height 700px
  overflow-y scroll

  &::-webkit-scrollbar
    width 9px
    height 9px

  &::-webkit-scrollbar-button
    width 8px
    height 8px

  &::-webkit-scrollbar-thumb
    background: #ee9bbe
    border: 0px none #ffffff
    border-radius: 50px

  &::-webkit-scrollbar-thumb:hover
    background #ee9bbe

  &::-webkit-scrollbar-thumb:active
    background #ee9bbe

  &::-webkit-scrollbar-track
    background #ffffff
    border 0px none #ffffff
    border-radius 50px

  &::-webkit-scrollbar-track:hover
    background #ffffff

  &::-webkit-scrollbar-track:active
    background #fff

  &::-webkit-scrollbar-corner
    background transparent

  & .team-advisor
    font-size 35px
    margin-top remify(60)
    flex-basis 100%
    text-align center

.team-photo-container
  width 229px
  height 220px
  margin-bottom 15px
  margin-right 15px

.team-photo-img
  position relative

  & img.social
    display block
    margin 13px auto
    width 20.9px
    height 20.9px

  & p
    margin-top 10px
    margin-bottom 2px
    font-size remify(18)
    line-height 21px
    letter-spacing .9px

  & span
    font-size remify(13)
    line-height 21px
    letter-spacing .1px

  & img
    width 100%

  &:hover .team-photo-mask
    transition opacity .5s ease
    opacity .77
    cursor pointer

  &:hover .team-photo-img img
    transform scale(1.1)

.team-photo-mask
  color white
  text-align center
  position absolute
  background-color #ee9bbe
  width 85%
  height 82.5%
  top 8%
  left 8%
  opacity 0

  & .team-social
    margin-top 1rem

  & .team-social img
    width 20px
    height auto
    text-align center

@media screen and (max-width: 12804px)

  .team-photo-container
    width 180px
    height auto

@media screen and (max-width: 1024px)

  .team-photo-img p
    line-height 15px
    margin-top 4px
    font-size 12px

  .team-photo-img span
    font-size 11px
    line-height 10px

  .team-photo-mask .team-social
    margin-top .5rem

  .team-photo-mask .team-social img
    width 15px

  .team-photo-container
    width 142px
    height 134px

  .team-our-team
    max-width 365.5px

  .team-photos
    max-width 495px

@media screen and (max-width: 876px)
  .team-line,
  .team-user,
  .team-social,
  .team-descrip
    display none

  .team-container
    padding-top 100px
    padding-left 50px
    padding-right 50px
    flex-direction column
    align-items center

  .team-photos
    padding-top 0
    padding-left 0
    overflow-y hidden
    max-width 100%

  .team-photo-container
    width 138px
    height auto
    margin-bottom 3px
    margin-left 3px
    overflow hidden

  .team-photo-mask
    width 100%
    height 100%
    top 0
    left 0
    overflow hidden

  .team-photo-img p,
  .team-photo-img span,
  .team-photo-img img.social
    display none

  // styles for modal
  .remodal
    margin-top 50px
    max-width 293px
    background-color transparent
    padding 0

    &-close
      top -8%
      left 91%
      color #fff

  .modal-team--line
    display block
    border-bottom 0.8px solid #f2b1cc
    width 12%
    margin-top 10px
    margin-bottom 10px

  .modal-team--name,
  .modal-team--title,
  .modal-team--descrip
    margin 0
    color #4c4c4c

  .modal-team--user
    text-align left
    background-color #fff
    padding-top 21px
    padding-left 45px
    padding-right 33px
    padding-bottom 29px

  .modal-team--name
    font-size 15px
    line-height 14px
    letter-spacing 0.2px

  .modal-team--title
    font-size 10px
    line-height 14px
    letter-spacing 0.1px

  .modal-team--descrip
    margin-top 15px
    margin-bottom 15px
    font-size 11px
    line-height 14px
    letter-spacing 0.2px

  .modal-team--photo
    height 163px

    & img
      max-width 100%
      height auto

  .modal-team-social
    display flex
    justify-content flex-start
    align-items center

    & img
      width 20px
      height auto

    & a
      margin-right 9px

@media screen and (max-width: 414px)

  .team-photo-container
    margin-right 0
    margin-bottom 0

  .team-title,
  .team-photos .team-advisor
    font-size 20px

  .team-photos
    height 100%
    overflow-y scroll

@media screen and (max-width: 375px)

  .team-photo-container
    width 125px

@media screen and (max-width: 360px)

  .team-photo-container
    width 115px
    margin-bottom 0

@media screen and (max-width: 320px)

  .team-photo-container
    width 100px
