{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
about us
{% endblock %}

{% block content %}
  <div class="section-about">
    <section class="section-about-left">
      <div class="section-about-hi">
        <p class="higia-font-helveticaneue-bold section-about__hi">Hola, nosotros somos Higia</p>
        <p class="higia-font-helveticaneue-thin section-about__descrip">Higia Technologies es una <span class="higia-font-helveticaneue-normal">empresa mexicana de biosensores</span> dedicada a mejorar la <span class="higia-font-helveticaneue-normal">calidad de vida de las mujeres</span> al lograr una profesionalización del método de autoexploración para la <span class="higia-font-helveticaneue-normal">detección temprana y efectiva del cáncer de mama.</span></p>
      </div>
      <div class="section-about-bg-only-mobil">
        <img src="img/backgrounds/section-about.jpg">
      </div>
      <div class="">
        <div class="section-about-greek">
          <p class="higia-font-helveticaneue-bold section-about-greek__title">Higia <span class="higia-font-helveticaneue-lightitalic">(Hygieia)</span></p>
          <p class="higia-font-helveticaneue-thin section-about-greek__descrip">En la mitología griega, Hygieia, era la hija del dios de la medicina, Asclepius, y Epione. Ella era la diosa / personificación de la salud, la prevención, y la higiene.</p>
          {# icon... #}
          <div class="section-about-greek__icon">
            <img src="img/about/icon.png">
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-container-bg">
      <div class="section-about-bg">
        <img src="img/backgrounds/section-about.jpg">
      </div>
      <div class="section-about-container-box">
        <div class="section-about-box">
          <img src="img/facts/fact-6.svg">
          <p class="higia-font-helveticaneue-medium">Desarrollo biosensorial</p>
        </div>
        <div class="section-about-arrow">
          <img src="img/slider-arrow/right.svg">
        </div>
        <div class="section-about-box">
          <img src="img/facts/fact-5.svg">
          <p class="higia-font-helveticaneue-medium">Aplicado a la medicina</p>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
