{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Allies
{% endblock %}

{% block content %}
  <div class="allies-container">
    <h1 class="allies-title higia-font-helveticaneue-medium">Some of our allies</h1>
    <div class="allies-wrapper">
      <div class="ally-wrapper">
        <img src="img/allies/kio.png" alt="" class="ally">
      </div>
      <div class="ally-wrapper">
        <img src="img/allies/avon.png" alt="" class="ally">
      </div>
      <div class="ally-wrapper">
        <img src="img/allies/molex.png" alt="" class="ally">
      </div>
      <div class="ally-wrapper">
        <img src="img/allies/imss.png" alt="" class="ally">
      </div>
      <div class="ally-wrapper">
        <img src="img/allies/incesec.png" alt="" class="ally">
      </div>
      <div class="ally-wrapper">
        <img src="img/allies/fptm.png" alt="" class="ally">
      </div>
      <div class="ally-wrapper">
        <img src="img/allies/axa.png" alt="" class="ally">
      </div>
      <div class="ally-wrapper">
        <img src="img/allies/tecs.png" alt="" class="ally">
      </div>
      <div class="ally-wrapper">
        <img src="img/allies/g.png" alt="" class="ally">
      </div>
    </div>
  </div>
{% endblock %}