{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Contact
{% endblock %}

{% block content %}
  <div class="contact-container">
    <div class="contanct-content">
      <div class="contact-header">
        <div class="contact-title-wrapper">
          <h1 class="contact-title higia-font-helveticaneue-bold">Get in touch</h1>
        </div>
        <div class="contact-description-wrapper">
          <p class="contact-description higia-font-helveticaneue-thin">If you are interested in a new project or collaboration, we’d love to hear from you.</p>
        </div>
      </div>
      <div class="contact-form-wrapper">
        <div class="contact-form-container">
          <div class="contact-form-content">
            <h2 class="contact-form-title higia-font-helveticaneue-bold">Contact us</h2>
            <form id="newsletter-form" action=".">
              <div class="input-wrapper contact-input-wrapper">
                <input id="contact-form-name" type="text" name="name" class="contact-field higia-font-helveticaneue-thin" placeholder="" required >
                <label for="name" class="contact-label-placeholder higia-font-helveticaneue-thin">Name</label>
              </div>
              <div class="input-wrapper contact-input-wrapper">
                <input id="contact-form-email" type="text" name="email" class="contact-field higia-font-helveticaneue-thin" placeholder="" required >
                <label for="email" class="contact-label-placeholder higia-font-helveticaneue-thin">E-mail</label>
              </div>
              <div class="input-wrapper contact-input-wrapper">
                <input id="contact-form-message" type="text" name="message" class="contact-field higia-font-helveticaneue-thin" placeholder="" required >
                <label for="message" class="contact-label-placeholder higia-font-helveticaneue-thin">Message</label>
              </div>
              <div class="form-message"></div>
              <div class="button-wrapper">
                <button type="submit" class="contact-button btn-pink higia-font-helveticaneue-normal">Send</button>
              </div>
              <div class="loader custom-loader">
                <div class="ball-pulse-sync">
                  <div class="blue"></div>
                  <div class="blue"></div>
                  <div class="blue"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}