{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Contact
{% endblock %}

{% block content %}
  <div class="contact-container">
    <div class="contanct-content">
      <div class="contact-header">
        <div class="contact-title-wrapper">
          <h1 class="contact-title higia-font-helveticaneue-bold">¡Si estás interesada por favor contáctanos!</h1>
        </div>
        <div class="contact-description-wrapper">
          <p class="contact-description higia-font-helveticaneue-thin">Si está interesado en un nuevo proyecto o colaboración, nos encantaría saber de usted.</p>
        </div>
      </div>
      <div class="contact-form-wrapper">
        <div class="contact-form-container">
          <div class="contact-form-content">
            <h2 class="contact-form-title higia-font-helveticaneue-bold">Contáctanos</h2>
            <form id="contact-form" action="http://integrations.blick.mx/higia/email/" method="post">
              <div class="input-wrapper contact-input-wrapper">
                <input id="contact-form-name" type="text" name="name" class="contact-field higia-font-helveticaneue-thin" placeholder="" required >
                <input hidden="true" type="text" name="last_name" placeholder="Nombre">
                <label for="name" class="contact-label-placeholder higia-font-helveticaneue-thin">Nombre</label>
              </div>
              <div class="input-wrapper contact-input-wrapper">
                <input id="contact-form-email" type="text" name="email" class="contact-field higia-font-helveticaneue-thin" placeholder="" required >
                <label for="email" class="contact-label-placeholder higia-font-helveticaneue-thin">Correo electrónico</label>
              </div>
              <div class="input-wrapper contact-input-wrapper">
                <input id="contact-form-message" type="text" name="message" class="contact-field higia-font-helveticaneue-thin" placeholder="" required >
                <label for="message" class="contact-label-placeholder higia-font-helveticaneue-thin">Mensaje</label>
              </div>
              <div class="form-message"></div>
              <div class="contact button-wrapper">
                <button type="submit" class="contact-button btn-pink higia-font-helveticaneue-normal">Enviar</button>
              </div>
              <div class="loader custom-loader">
                <div class="ball-pulse-sync">
                  <div class="blue"></div>
                  <div class="blue"></div>
                  <div class="blue"></div>
                </div>
              </div>
              <input hidden="true" type="text" name="phone" placeholder="hidden" value="">
              <input hidden="true" type="text" name="address" placeholder="hidden" value="">
              <input hidden="true" type="text" name="company" placeholder="hidden" value="">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
