{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Eva
{% endblock %}
  <div class="eva-container">
    <section class="eva-section_one">
      <h1 class="eva-section_one-title">Eva</h1>
      <div class="eva-section_one-title-divider"></div>
      <h2 class="eva-section_one-subtitle">The Auto-Exploration Bra</h2>
      <div class="eva-section_one-content">
        <div class="eva-image-wrapper">
          <img src="img/eva/eva.png" alt="Eva breast cancer detection bra" class="eva-image">
        </div>
        <div class="eva-description-wrapper">
          <p class="eva-description">
            EVA is a wearable device that is designed to detect abnormalities in breast thermal patterns and tissue elasticity, which can be strong indicators of early stage breast cancer. It consists of two biosensing patches that the user can place on her own brasier.
          </p>
          <p class="eva-description">
            The patches collect data that is sent to the user’s phone or tablet through bluetooth technology, and our Artificial Intelligence algorithms produce a risk assessment within minutes.
          </p>
        </div>
      </div>
      <div class="eva-section_one-features">
        <div class="eva-feature">
          <div class="feature-icon-wrapper">
            <img src="img/eva-icon/feature-1.svg" alt="Thermal Abnormalitites" class="feature-icon">
          </div>
          <div class="feature-title-wrapper">
            <h3 class="feature-title">Thermal Abnormalities</h3>
          </div>
          <div class="feature-description-wrapper">
            <p class="feature-description">As cancer cells multiply, blood vessels grow around them in a process known as angiogenesis, in order to provide nutrients that allow the tumor to grow. These blood vessel formations are distinguishable from those naturally occurring in the body, and hence breast cancer risk can be assessed by detecting the thermal patterns associated with them.</p>
          </div>
        </div>
        <div class="eva-feature">
          <div class="feature-icon-wrapper">
            <img src="img/eva-icon/feature-1.svg" alt="Thermal Abnormalitites" class="feature-icon">
          </div>
          <div class="feature-title-wrapper">
            <h3 class="feature-title">Thermal Abnormalities</h3>
          </div>
          <div class="feature-description-wrapper">
            <p class="feature-description">As cancer cells multiply, blood vessels grow around them in a process known as angiogenesis, in order to provide nutrients that allow the tumor to grow. These blood vessel formations are distinguishable from those naturally occurring in the body, and hence breast cancer risk can be assessed by detecting the thermal patterns associated with them.</p>
          </div>
        </div>
        <div class="eva-feature">
          <div class="feature-icon-wrapper">
            <img src="img/eva-icon/feature-1.svg" alt="Thermal Abnormalitites" class="feature-icon">
          </div>
          <div class="feature-title-wrapper">
            <h3 class="feature-title">Thermal Abnormalities</h3>
          </div>
          <div class="feature-description-wrapper">
            <p class="feature-description">As cancer cells multiply, blood vessels grow around them in a process known as angiogenesis, in order to provide nutrients that allow the tumor to grow. These blood vessel formations are distinguishable from those naturally occurring in the body, and hence breast cancer risk can be assessed by detecting the thermal patterns associated with them.</p>
          </div>
        </div>
      </div>
    </section>
    <div class="eva-section_divider"></div>
  </div>
{% block content %}

{% endblock %}