{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Live
{% endblock %}

{% block content %}
  <div class="live-container">
    <div class="live-content">
      <p class="higia-font-helveticaneue-bold live-header">We are about to <span class="live-pink">change</span> the <span class="live-pink">world...</span></p>
      <div class="live-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jM5-xGsW4N8" frameborder="0" allowfullscreen class="live-iframe"></iframe>
      </div>
      <p class="higia-font-helveticaneue live-subtitle">For more information visit <a href="http://evabra.mx" target="_blank" class="higia-font-helveticaneue-medium live-pink">evabra.mx</a></p>
    </div>
{% endblock %}
