{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
News
{% endblock %}

{% block content %}
  <div class="news-container">
    <div class="news-header-wrapper">
      <div class="news-header">
        <h1 class="news-header-title higia-font-helveticaneue-bold">Latest news</h1>
        <p class="news-header-description higia-font-helveticaneue-thin">Vivamus non felis bibendum, sollicitudin ante ut, efficitur leo. Proin pulvinar, mi eget pellentesque finibus, ante felis luctus leo, in lobortis ligula leo sed nisl.</p>
      </div>
    </div>
    <div class="articles-wrapper">
      <div class="article-thumbnail">
        <div class="article-thumbnail-image-wrapper">
          <img src="img/article/article-1.jpg" alt="" class="article-thumbnail-image">
          <span class="article-thumbnail-category higia-font-helveticaneue-normal">News</span>
        </div>
        <div class="article-thumbnail-info">
          <time class="article-thumbnail-date higia-font-helveticaneue-medium">April 17 2017</time>
          <h2 class="article-thumbnail-title">The feauture of your kids health.</h2>
          <p class="article-thumbnail-content higia-font-helveticaneue-medium">APraesent dui orci, efficitur sit amet ornare id, rhoncus ac leo. Cras varius non purus quis tempus. Etiam sed felis tellus.</p>
          <button class="article-thumbnail-button btn-pink higia-font-helveticaneue-normal">See more</button>
        </div>
      </div>
      <div class="article-thumbnail">
        <div class="article-thumbnail-image-wrapper">
          <img src="img/article/article-2.jpg" alt="" class="article-thumbnail-image">
        </div>
        <div class="article-thumbnail-info">
          <time class="article-thumbnail-date higia-font-helveticaneue-medium">April 22 2017</time>
          <h2 class="article-thumbnail-title">A new era of technology.</h2>
          <p class="article-thumbnail-content higia-font-helveticaneue-medium">APraesent dui orci, efficitur sit amet ornare id, rhoncus ac leo. Cras varius non purus quis tempus. Etiam sed felis tellus.</p>
          <button class="article-thumbnail-button btn-pink higia-font-helveticaneue-normal">See more</button>
        </div>
      </div>
      <div class="article-thumbnail">
        <div class="article-thumbnail-image-wrapper">
          <img src="img/article/article-3.jpg" alt="" class="article-thumbnail-image">
        </div>
        <div class="article-thumbnail-info">
          <time class="article-thumbnail-date higia-font-helveticaneue-medium">April 25 2017</time>
          <h2 class="article-thumbnail-title">Learn about new devices.</h2>
          <p class="article-thumbnail-content higia-font-helveticaneue-medium">APraesent dui orci, efficitur sit amet ornare id, rhoncus ac leo. Cras varius non purus quis tempus. Etiam sed felis tellus.</p>
          <button class="article-thumbnail-button btn-pink higia-font-helveticaneue-normal">See more</button>
        </div>
      </div>
      <div class="article-thumbnail">
        <div class="article-thumbnail-image-wrapper">
          <img src="img/article/article-1.jpg" alt="" class="article-thumbnail-image">
          <span class="article-thumbnail-category higia-font-helveticaneue-normal">News</span>
        </div>
        <div class="article-thumbnail-info">
          <time class="article-thumbnail-date higia-font-helveticaneue-medium">April 17 2017</time>
          <h2 class="article-thumbnail-title">The feauture of your kids health.</h2>
          <p class="article-thumbnail-content higia-font-helveticaneue-medium">APraesent dui orci, efficitur sit amet ornare id, rhoncus ac leo. Cras varius non purus quis tempus. Etiam sed felis tellus.</p>
          <button class="article-thumbnail-button btn-pink higia-font-helveticaneue-normal">See more</button>
        </div>
      </div>
      <div class="article-thumbnail">
        <div class="article-thumbnail-image-wrapper">
          <img src="img/article/article-2.jpg" alt="" class="article-thumbnail-image">
        </div>
        <div class="article-thumbnail-info">
          <time class="article-thumbnail-date higia-font-helveticaneue-medium">April 22 2017</time>
          <h2 class="article-thumbnail-title">A new era of technology.</h2>
          <p class="article-thumbnail-content higia-font-helveticaneue-medium">APraesent dui orci, efficitur sit amet ornare id, rhoncus ac leo. Cras varius non purus quis tempus. Etiam sed felis tellus.</p>
          <button class="article-thumbnail-button btn-pink higia-font-helveticaneue-normal">See more</button>
        </div>
      </div>
      <div class="article-thumbnail">
        <div class="article-thumbnail-image-wrapper">
          <img src="img/article/article-3.jpg" alt="" class="article-thumbnail-image">
        </div>
        <div class="article-thumbnail-info">
          <time class="article-thumbnail-date higia-font-helveticaneue-medium">April 25 2017</time>
          <h2 class="article-thumbnail-title">Learn about new devices.</h2>
          <p class="article-thumbnail-content higia-font-helveticaneue-medium">APraesent dui orci, efficitur sit amet ornare id, rhoncus ac leo. Cras varius non purus quis tempus. Etiam sed felis tellus.</p>
          <button class="article-thumbnail-button btn-pink higia-font-helveticaneue-normal">See more</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}