{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Press
{% endblock %}

{% block content %}
  <div class="section-press">
    <section class="section-one-press">
      <p>What they’re saying</p>
      <div class="section-press-carousel">
        <div class="section-press-carousel-item">
          <div class="section-press-carousel-img">
            <img src="">
          </div>
          <div class="section-press-carousel-text">
            <p>“Si logras reducir las brechas de diagnóstico o prevenirlo, no solo reduces los costos de la institución, ayudas a millones de mujeres”</p>
          </div>
        </div>
        <div>
          2
        </div>
        <div>
          3
        </div>
      </div>
    </section>
    <section class="section-two-press">

    </section>
  </div>
{% endblock %}
