{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Team
{% endblock %}

{% block content %}
  <div class="team-container">
    <div class="team-our-team">
      <p class="higia-font-helveticaneue-bold team-title">Our team</p>
      <p class="higia-font-helveticaneue-normal team-user"><span class="higia-font-helveticaneue-bold">Julián Rios</span> | CEO</p>
      <p class="higia-font-helveticaneue-thin team-descrip">Mis principales tareas como Director ejecutivo de Higia Technologies consisten en cerciorarse de que la visión de la compañía sea la correcta, proveer los recursos necesarios para la creación de productos, construir la cultura corporativa, tomar las decisiones estratégicas para el óptimo funcionamiento de la empresa y supervisar el funcionamiento de la misma.</p>
    </div>
    <div class="team-photos">
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team1.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Julián Rios</p>
            <span class="higia-font-helveticaneue-normal">Chief Executive Officer</span>
            <img class="social" src="img/team/linkedin.svg">
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team2.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Julián Rios</p>
            <span class="higia-font-helveticaneue-normal">Chief Executive Officer</span>
            <img class="social" src="img/team/linkedin.svg">
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team3.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Julián Rios</p>
            <span class="higia-font-helveticaneue-normal">Chief Executive Officer</span>
            <img class="social" src="img/team/linkedin.svg">
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team4.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Julián Rios</p>
            <span class="higia-font-helveticaneue-normal">Chief Executive Officer</span>
            <img class="social" src="img/team/linkedin.svg">
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team5.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Julián Rios</p>
            <span class="higia-font-helveticaneue-normal">Chief Executive Officer</span>
            <img class="social" src="img/team/linkedin.svg">
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team6.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Julián Rios</p>
            <span class="higia-font-helveticaneue-normal">Chief Executive Officer</span>
            <img class="social" src="img/team/linkedin.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
