{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Team
{% endblock %}

{% block content %}
  <div class="team-container">
    <div class="team-our-team">
      <div class="team-title-container">
        <p class="higia-font-helveticaneue-bold team-title">Our team</p>
        <span class="team-line"></span>
      </div>
      <p class="higia-font-helveticaneue-normal team-user"><span class="higia-font-helveticaneue-bold">Julián Rios</span> | CEO</p>
      <p class="higia-font-helveticaneue-thin team-descrip">Mis principales tareas como Director ejecutivo de Higia Technologies consisten en cerciorarse de que la visión de la compañía sea la correcta, proveer los recursos necesarios para la creación de productos, construir la cultura corporativa, tomar las decisiones estratégicas para el óptimo funcionamiento de la empresa y supervisar el funcionamiento de la misma.</p>
    </div>
    <div class="team-photos">
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team1.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Julián Rios</p>
            <span class="higia-font-helveticaneue-normal">Chief Executive Officer</span>
            <a href="https://www.linkedin.com/in/juli%C3%A1n-r%C3%ADos-cant%C3%BA-903b76106"><img class="social" src="img/team/linkedin.svg"></a>
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team2.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Alejandro Casar</p>
            <span class="higia-font-helveticaneue-normal">Co-Artificial Intelligence Officer (Co-AIO)</span>
            <a href="https://www.linkedin.com/in/alexcasar/"><img class="social" src="img/team/linkedin.svg"></a>
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team3.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Raymundo González</p>
            <span class="higia-font-helveticaneue-normal">Co-Artificial Intelligence Officer (Co-AIO)</span>
            <a href="https://www.linkedin.com/in/raymundo-gzz/
"><img class="social" src="img/team/linkedin.svg"></a>
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team4.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Fernando López</p>
            <span class="higia-font-helveticaneue-normal">Director of Software Engineering</span>
            <a href="https://www.linkedin.com/in/fernando-l%C3%B3pez-mart%C3%ADnez-774823111/"><img class="social" src="img/team/linkedin.svg"></a>
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team5.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">Antonio Torres</p>
            <span class="higia-font-helveticaneue-normal">Chief Technology Officer (CTO)</span>
            <a href="https://www.linkedin.com/in/jantoniotorres/"><img class="social" src="img/team/linkedin.svg"></a>
          </div>
        </div>
      </div>
      <div class="team-photo-container">
        <div class="team-photo-img">
          <img src="img/team/team6.jpg">
          <div class="team-photo-mask">
            {# mascara al hacer hover #}
            <p class="higia-font-helveticaneue-bold">José Ángel Lavariega</p>
            <span class="higia-font-helveticaneue-normal">Chief Innovation Officer (CINO)</span>
            <a href="https://www.linkedin.com/in/jose-angellavariegagomez/"><img class="social" src="img/team/linkedin.svg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
