<footer class="site-footer {% if section == 'eva' or section == 'eva-es' %} eva-view {% endif %}">
  <div class="footer-section_one">
    <h4 class="footer-title higia-font-helveticaneue-medium">Higia Technologies</h4>
  </div>
  <div class="footer-section_two">
    <a href="https://www.linkedin.com/company/higia-technologies" target="_blank">
      <img src="img/footer/linkedin.svg" alt="Linkedin" class="social_media">
    </a>
    <a href="https://www.facebook.com/HigiaTech/" target="_blank">
      <img src="img/footer/fb.svg" alt="Facebook" class="social_media">
    </a>
    <a href="https://twitter.com/Higia_Tech" target="_blank">
      <img src="img/footer/twitter.svg" alt="Twitter" class="social_media">
    </a>
  </div>
  <div class="footer-section_three">
    <ul class="footer-nav_menu">
      <li class="nav_item {% if section == 'eva-es' %} higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-light {% endif %}">
        <a href="eva-es.html">Eva</a>
      </li>
      <li class="nav_item {% if section == 'about_us-es' %} higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-light {% endif %}">
        <a href="about_us-es.html">Higia</a>
      </li>
      <li class="nav_item {% if section == 'team-es' %} higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-light {% endif %}">
        <a href="team-es.html">Equipo</a>
      </li>
      <li class="nav_item {% if section == 'allies-es' %} higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-light {% endif %}">
        <a href="allies-es.html">Aliados</a>
      </li>
      <li class="nav_item {% if section == 'news-es' %} higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-light {% endif %}">
        <a href="news-es.html">Noticias</a>
      </li>
      <li class="nav_item {% if section == 'press-es' %} higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-light {% endif %}">
        <a href="press-es.html">Prensa</a>
      </li>
      <li class="nav_item {% if section == 'contact-es' %} higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-light {% endif %}">
        <a href="contact-es.html">Contáctanos</a>
      </li>
    </ul>
  </div>
  <div class="footer-section_four">
    <p class="footer-copy higia-font-helveticaneue-thin">© Copyright, Higia Technologies <span id="license-year"></span></p>
  </div>
  <div class="getmore">
    <a href="http://getmore.mx" target="_blank"><img src="img/footer/getmoreMX.png" alt="MoreCo - getmore.mx"></a>
  </div>
</footer>
