<footer class="site-footer {% if section == 'eva' %} eva-view {% endif %}">
  <div class="footer-section_one">
    <h4 class="footer-title higia-font-helveticaneue-medium">Higia Technologies</h4>
  </div>
  <div class="footer-section_two">
    <a href="https://www.linkedin.com/company/higia-technologies" target="_blank">
      <img src="img/footer/linkedin.svg" alt="Linkedin" class="social_media">
    </a>
    <a href="https://www.facebook.com/HigiaTech/" target="_blank">
      <img src="img/footer/fb.svg" alt="Facebook" class="social_media">
    </a>
    <a href="https://twitter.com/Higia_Tech" target="_blank">
      <img src="img/footer/twitter.svg" alt="Twitter" class="social_media">
    </a>
  </div>
  <div class="footer-section_three">
    <ul class="footer-nav_menu">
      <li class="nav_item {% if section != 'index' %} higia-font-helveticaneue-bold {% elif section == 'index' %} higia-font-helveticaneue-light {% endif %}">Eva</li>
      <li class="nav_item {% if section != 'index' %} higia-font-helveticaneue-bold {% elif section == 'index' %} higia-font-helveticaneue-light {% endif %}">About us</li>
      <li class="nav_item {% if section != 'index' %} higia-font-helveticaneue-bold {% elif section == 'index' %} higia-font-helveticaneue-light {% endif %}">Products</li>
      <li class="nav_item {% if section != 'index' %} higia-font-helveticaneue-bold {% elif section == 'index' %} higia-font-helveticaneue-light {% endif %}">News</li>
      <li class="nav_item {% if section != 'index' %} higia-font-helveticaneue-bold {% elif section == 'index' %} higia-font-helveticaneue-light {% endif %}">Press</li>
      <li class="nav_item {% if section != 'index' %} higia-font-helveticaneue-bold {% elif section == 'index' %} higia-font-helveticaneue-light {% endif %}">Team</li>
      <li class="nav_item {% if section != 'index' %} higia-font-helveticaneue-bold {% elif section == 'index' %} higia-font-helveticaneue-light {% endif %}">Allies</li>
      <li class="nav_item {% if section != 'index' %} higia-font-helveticaneue-bold {% elif section == 'index' %} higia-font-helveticaneue-light {% endif %}">Contact</li>
    </ul>
  </div>
  <div class="footer-section_four">
    <p class="footer-copy higia-font-helveticaneue-thin">© Copyright, Higia Technologies <span id="license-year"></span></p>
  </div>
</footer>
