<footer class="site-footer {% if section == 'eva' %} eva-view {% endif %}">
  <div class="footer-section_one">
    <h4 class="footer-title higia-font-helveticaneue-medium">Higia Technologies</h4>
  </div>
  <div class="footer-section_two">
    <img src="img/footer/linkedin.svg" alt="" class="social_media">
    <img src="img/footer/fb.svg" alt="" class="social_media">
    <img src="img/footer/twitter.svg" alt="" class="social_media">
  </div>
  <div class="footer-section_three">
    <ul class="footer-nav_menu">
      <li class="nav_item higia-font-helveticaneue-light">Eva</li>
      <li class="nav_item higia-font-helveticaneue-light">About us</li>
      <li class="nav_item higia-font-helveticaneue-light">Products</li>
      <li class="nav_item higia-font-helveticaneue-light">News</li>
      <li class="nav_item higia-font-helveticaneue-light">Press</li>
      <li class="nav_item higia-font-helveticaneue-light">Team</li>
      <li class="nav_item higia-font-helveticaneue-light">Allies</li>
      <li class="nav_item higia-font-helveticaneue-light">Contact</li>
    </ul>
  </div>
  <div class="footer-section_four">
    <p class="footer-copy higia-font-helveticaneue-thin">© Copyright, Higia Technologies <span id="license-year"></span></p>
  </div>
</footer>
