<nav class="site-navbar">
  <div class="site-navbar__desktop-logo-container">
    <a href="index.html"><h1 class="higia-font-gtamericatrial-medium ">Higia Technologies</h1></a>
  </div>
  <div class="site-navbar__menu-trigger">
    <span class="fa fa-bars"></span>
  </div>
  <div class="site-navbar__menu-container">
    <div class="site-navbar-icon-close">
      <a id="navbar-close" href="."><img src="img/navbar-mobile/close.png"></a>
    </div>
    <div class="site-navbar__menu">
      <a href="index-es.html" class="site-navbar__menu-link {% if section == 'index' %} active higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-thin {% endif %}">Home</a>
      <a href="eva-es.html" class="site-navbar__menu-link {% if section == 'eva' %} active higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-thin {% endif %}">Eva</a>
      <a href="about_us-es.html" class="site-navbar__menu-link {% if section == 'about_us' %} active higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-thin {% endif %}">About Us</a>
      <a href="team-es.html" class="site-navbar__menu-link {% if section == 'team' %} active higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-thin {% endif %}">Team</a>
      <a href="allies-es.html" class="site-navbar__menu-link {% if section == 'allies' %} active higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-thin {% endif %}">Allies</a>
      <a href="news-es.html" class="site-navbar__menu-link {% if section == 'news' %} active higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-thin {% endif %}">News</a>
      <a href="press-es.html" class="site-navbar__menu-link {% if section == 'press' %} active higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-thin {% endif %}">Press</a>
      <a href="contact-es.html" class="site-navbar__menu-link {% if section == 'contact' %} active higia-font-helveticaneue-bold {% else %} higia-font-helveticaneue-thin {% endif %}">Contact</a>
    </div>
    <div class="site-navbar__lang ">
      <div class="lang-div"></div>
      <a href="{% if section == 'index-es' %}index.html{% elif section == 'eva-es' %}eva.html{% elif section == 'about_us-es' %}about_us.html{% elif section == 'team-es' %}team.html{% elif section == 'allies-es' %}allies.html{% elif section == 'news-es' %}news.html{% elif section == 'press-es' %}press.html{% elif section == 'contact-es' %}contact.html{% endif %} " class="site-navbar__lang-link higia-font-helveticaneue-light">EN</a>
      <a href="{{ section }}.html" class="site-navbar__lang-link active higia-font-helveticaneue-medium">ES</a>
    </div>
  </div>
</nav>