.site-footer
  background radial-gradient(ellipse at center, #4c4c4c 70%,#424242 100%)
  padding 110px 0 107px 0
  text-align center

.footer-section_one, .footer-section_two
  margin-bottom 31px

.footer-section_three
  margin-bottom 33px  

.footer-title
  font-size remify(21px)
  color #fff
  margin 0

.social_media
  margin-right 15px
  
  &:last-child
    margin-right 0

.footer-nav_menu
  color #fff
  margin 0
  padding 0

.nav_item
  display inline-block
  font-size remify(13px)
  letter-spacing .1px
  margin-right 15px
  
  &:last-child
    margin-right 0

.footer-copy
  font-size remify(11px)
  color #fff
