.site-navbar
  background transparent
  display flex
  align-items center
  left 0
  position fixed
  top 0
  width 100%
  z-index 12
  padding-right 120px
  padding-left 120px
  transition .3s background ease
  transition .3s height ease

  & + main
    padding-top 0px

.nav-white-bg
  background-color #fff
  height 100px

.nav-transparent-bg
  background-color transparent
  height 125px

.site-navbar__menu-trigger,
.site-navbar__mobile-logo-container
  display none

.site-navbar__menu-trigger
  color red

.site-navbar__desktop-logo-container
  transition .2s text-shadow ease-in-out
  transition .2s transform ease-in-out
  h1
    font-size remify(21px)
    color #4c4c4c
  &:hover
    transform scale(1.01)
    text-shadow: 0px 0px 1px rgba(114,117,117,.15);

.site-navbar__menu-container
  flex-grow 1
  text-align right
  height 100%
  display flex
  justify-content flex-end

.site-navbar__menu
  height 100%
  display flex
  align-items center
  justify-content flex-end

.site-navbar__lang
  height 100%
  display flex
  align-items center
  justify-content flex-end

.site-navbar__menu-link
  color #4c4c4c
  font-size remify(13)
  margin-right 20px
  letter-spacing .1px
  transition .2s color ease-in-out
  cursor pointer

  &:hover, &.active
    color #ee9bbe

.lang-div
  height 14px
  width 1px
  background-color #ee9bbe
  margin-right 20px

.site-navbar__lang-link
  color #4c4c4c
  font-size remify(12)
  margin-right 15px
  letter-spacing .1px
  transition .2s color ease-in-out
  cursor pointer

  &:hover
    color #ee9bbe

  &.active
    color #4c4c4c

// display none, in not version mobile
.site-navbar-icon-close,
.site-navbar-lang
  display none

@media screen and (max-width: 876px) // Change
  // section lang hidden in mobile
  .site-navbar__lang
    display none

  .site-navbar
    justify-content space-between
    height 56px // Change
    padding 0 18px // Change

  .site-navbar__desktop-logo-container
    img
      height remify(20) // Change
      width auto

  .site-navbar__mobile-logo-container
    display none
    center-block()
    width 70% // Change

    img
      width 100%

  .site-navbar__menu-trigger
    display block
    float right
    font-size 20px // Change
    color #4c4c4c
    cursor pointer

  .site-navbar__menu-container
    background #4c4c4c // Change
    opacity .98
    height 100vh
    margin-right 0
    overflow-y auto
    position fixed
    right -327px
    top 0
    transition right 0.2s ease
    max-width 327px
    padding-top 25px // Change

  .site-navbar__menu-container--show-menu
    right 0

  .site-navbar__menu
    margin-bottom 150px // Change
    margin-top 150px // Change
    text-align left
    height auto
    flex-wrap wrap
    color #e1e1e1

  .site-navbar__menu-link
    display block
    height auto
    display block
    text-align left
    flex-basis 100%
    rfont-size(16px, 876px, 15px)
    letter-spacing 1px
    color #e1e1e1
    padding 4px 0 4px 18px
    background-image url('../img/navbar-mobile/navbar-right.svg')
    background-repeat no-repeat
    background-size 4%
    background-position right center
    margin-left 47px
    margin-right 38px
    margin-bottom 31px

    &.active
      color #e1e1e1
      border-left solid 2px #ee9bbe

    &:hover
      color #e1e1e1

  .site-navbar-icon-close
    display flex
    justify-content space-between
    align-items center
    position absolute
    top 43px
    right 33px
    width 15px
    height auto
    width 70%

    & img
      width 15px
      height auto

  .site-navbar-lang
    text-transform uppercase
    width 4rem
    display flex
    justify-content space-between
    color #e1e1e1

    & a:active,
    & a:visited
      color #e1e1e1
