@font-face {
  font-family: 'GTAmericaTrial';
  src: url('../fonts/GTAmericaTrial-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTAmericaTrial-Medium.otf')  format('opentype'),
    url('../fonts/GTAmericaTrial-Medium.woff') format('woff'),
    url('../fonts/GTAmericaTrial-Medium.ttf')  format('truetype'),
    url('../fonts/GTAmericaTrial-Medium.svg#GTAmericaTrial-Medium') format('svg');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaTrial';
  src: url('../fonts/GTAmericaTrial-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTAmericaTrial-Bold.otf')  format('opentype'),
    url('../fonts/GTAmericaTrial-Bold.woff') format('woff'),
    url('../fonts/GTAmericaTrial-Bold.ttf')  format('truetype'),
    url('../fonts/GTAmericaTrial-Bold.svg#GTAmericaTrial-Bold') format('svg');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeue-Thin.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: $thin;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-LightItalic.woff') format('woff'),
    url('../fonts/HelveticaNeue-LightItalic.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
  font-weight: $light;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Light.woff') format('woff'),
    url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: $light;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: $normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}

.higia-font-gtamericatrial-bold {
  font-family: 'GTAmericaTrial';
  font-weight: $bold
}

.higia-font-gtamericatrial-medium {
  font-family: 'GTAmericaTrial';
  font-weight: $medium
}

.higia-font-helveticaneue-thin {
  font-family: 'HelveticaNeue';
  font-weight: $thin
}

.higia-font-helveticaneue-lightitalic {
  font-family: 'HelveticaNeue';
  font-weight: $light;
  font-style: italic;
}

.higia-font-helveticaneue-light {
  font-family: 'HelveticaNeue';
  font-weight: $light
}

.higia-font-helveticaneue-normal {
  font-family: 'HelveticaNeue';
  font-weight: $normal
}

.higia-font-helveticaneue-medium {
  font-family: 'HelveticaNeue';
  font-weight: $medium
}

.higia-font-helveticaneue-bold {
  font-family: 'HelveticaNeue';
  font-weight: $bold
}
