@import 'vars'
@import 'mixins'
@import 'fonts'
@import 'utils'

@import 'base'

// add styles for fontAwesome
@import 'fontawesome'

// add styles for remodal
@import 'remodal'
@import 'remodal-default-theme'

import_tree('./sections')
